.loading-container {
  margin: auto 0;
  text-align: center;
  color: var(--white);
  display: grid;
  gap: 14px;
}

.three-dots {
  display: flex;
  gap: 10px;
  justify-self: center;
}

.loading {
  font-size: 18px;
}