.loading-container {
  margin: 0 auto;
  text-align: center;
  color: var(--white);
  display: grid;
  gap: 14px;
}

.three-dots {
  display: flex;
  gap: 10px;
  justify-self: center;
}

.loading {
  font-size: 18px;
}

@media (width < 768px) {
  .loading-container {
    margin: auto 0;
  }
}