@media (min-width: 768px) {
  .input-elem {
    flex-direction: row;
    justify-content: center;
  }

  .input-wrapper {
    max-width: 32.875em;
  }

  main .weather-info {
    background: url(../assets/images/bg-today-large.svg) no-repeat center;
    background-size: 100%;
    flex-direction: row;
  }

  main .weather-info .location-info {
    margin: 0;
    flex: 1;
    text-align: start;
  }

  main .weather-details-container {
    grid-template-columns: repeat(4, 1fr);
  }

  main .daily-forecast-container .day {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (min-width: 1200px) {
  main {
    flex-direction: row;
    gap: 2em;
  }

  main .left-section {
    flex: 1;
  }

  main .right-section {
    min-width: 24em;
    height: 38.5em;
  }

  body {
    padding-right: 7em;
    padding-left: 7em;
  }
}

/*
body {
  background-color: var(--n-200);
}

h1 {
  color: var(--n-900);
}

.input-wrapper .search-place{
  background-color: var(--box-shadow);
  color: var(--white);
}

.search-place-btn {
  background-color: var(--n-600);
  color: var(--n-white);
}

main .weather-details-container {

  & div {
  background-color: var(--box-shadow);
  border-color: transparent;

  & p:nth-child(1) {
    color: var(--n-200)
  }
  }
}

main {
& .daily-forecast-container {
    & .legend {
      color: var(--n-600);
    }
  }

& .daily-forecast-container {
    & .day {
      & .daily {
      background-color: var(--box-shadow);
      border: none;
      }
    }
}

& .right-section {
  background-color: var(--n-300);
  border: solid 1px var(--box-shadow);
  
  & .top-part {
    background-color: var(--n-300);
  }

  & .hourly-forecast-data {
    background-color: var(--n-200);
    border: none;
  }
}
}

main {
    & .right-section {
        & .top-part {
            & .container{
              background-color: var(--n-200);
              color: var(--white)
        }

        & .hourly-forecast-dropdown-menu{
        & .dropdown {
          background-color: var(--n-200);
          border: var(--n-200);
        }
      }
      }
    }
  }

  header {
    background-color: var(--n-200);

    & .unit-dropdown-menu .container {
      background-color: var(--n-300);

      &:hover {
        background-color: var(--box-shadow);
        box-shadow: none;
      }
    }
  }
    */